 # {{ ansible_managed }}

<VirtualHost *80>
    ServerName {{ inventory_hostname  }}
    DocumentRoot /var/www/vhosts/{{ansible_hostname}}

    ErrorLog logs/{{ ansible_hostname }}-error.log
    CustomLog logs/{{ ansible_hostname }}-common.log common

    <Directory /var/www/vhosts/{{ansible_hostname}}>
        Options +Indexes +FolloSymLinks +Includes
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
